<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>welcome to harry potter</h1>
        <h3>click <a href="http://localhost:3000/students/">HERE</a> to view students</h3>
        <h3>click <a href="http://localhost:3000/students/new">HERE</a> to add a new student</h3>
        <h3>click <a href="http://localhost:3000/students/houses">HERE</a> view houses</h3>
    </body>
</html>
